/* position ovelay with relevant styles to meet accessibility requirements  */
/* position fixed ensure the content behind modal stays where it is instead of flowing back to the top of the page and user shouldn't be able to scroll the page behind the modal */
/* it also positions the modal on top of the main content */

.modal__overlay {
    position: fixed;
    inset: 0;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.45);
    width: 100%;
    height: 100%;
    z-index: 10;
}

.modal__overlay--active {
    overflow: hidden;
    padding-right: 16px;
    box-sizing: border-box;
}

/* Element that will contain the content */
/* with defined width and height all responsive on diffent media devices */
.modal__container {
    background-color: #ffffff;
    width: 1280px;
    max-width: 100%;
    height: auto;
    max-height: calc(100% - 380px);
    padding: 20px;
    box-sizing: border-box;
    overflow: hidden;
}

/* When content exceeds the height of the modal, add scroll */
.modal__inner {
    overflow-y: auto;
    height: 100%;
}

.close-btn {
    background-color: #b51963;
    color: #ffffff;
    font-size: 1.8rem;
    padding: 10px 15px;
    border: 0;
    border-radius: 3px;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
  }
  
  .close-btn:hover,
  .close-btn:focus {
    background-color: #f194b8;
    color: #1f1f1f;
  }

@media screen and (max-width: 1280px) {
    .modal__container {
        width: auto;
        margin: 0 25px;
    }
}

@media screen and (max-width: 992px) {
    .modal__container {
        height: 100%;
    }

    .modal__overlay--active {
        padding-right: 0;
    }
}

/* Smaller screens and mobile the modal will cover the entire screen */
@media screen and (max-width: 768px) {
    .modal__container {
        height: 100%;
        max-height: 100%;
        margin: 0;
    }
}
